* {
  box-sizing: border-box;
}

.main {
  padding: 90px 100px;
  width: 1000px;
  height: 500px;
  background-image: url("../pictures/background.jpg");
}

.section {
  padding: 30px 40px;
}

.h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
  margin: 0;
  text-transform: uppercase;
}

.h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #e6f590;
  margin: 0;
}

.icons {
  margin-top: 80px;
  display: flex;
  column-gap: 70px;
}