.carousel-wrapper {
  display: flex;
  position: relative;
}

.carousel-wrapper input {
  display: none;
}

.carousel-wrapper label img {
  display: block;
}

.carousel {
  overflow: hidden;
}

.carousel ul {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 300%;
  transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

.carousel li {
  position: relative;
}

.carousel li img {
  display: block;
  width: 100%;
}

.carousel-heading {
  position: absolute;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 14px;
}

.carousel-arrow-img {
  width: 20px;
  height: 40px;
}

.left-arrow,
.right-arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
  z-index: 1;
  transition: 0.2s;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 0.8;
}

.left-arrow:active,
.right-arrow:active {
  opacity: 0.5;
}

.left-arrow {
  left: 18px;
}

.right-arrow {
  right: 18px;
}

#slide1:checked~.carousel ul {
  left: 0%;
}

#slide2:checked~.carousel ul {
  left: -100%;
}

#slide3:checked~.carousel ul {
  left: -200%;
}

#slide1:checked~.left-arrow[for=slide3],
#slide1:checked~.right-arrow[for=slide2] {
  display: block;
}

#slide2:checked~.left-arrow[for=slide1],
#slide2:checked~.right-arrow[for=slide3] {
  display: block;
}

#slide3:checked~.left-arrow[for=slide2],
#slide3:checked~.right-arrow[for=slide1] {
  display: block;
}

@media (min-width: 768px) {
  .carousel-heading {
    font-size: 64px;
    bottom: 50px;
  }

  .carousel-arrow-img {
    width: 73px;
    height: 146px;
  }

  .left-arrow {
    left: 70px;
  }

  .right-arrow {
    right: 70px;
  }
}

@media (min-width: 992px) {
  .carousel-heading {
    font-size: 96px;
  }
}